@{
    ViewBag.Title = "Events Administration";
}
@model IEnumerable<Netkinetix.Models.SiteEvent>
<div class="container">

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add/Edit Event</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Event Title*</label>
                            <input type="text" id="title" name="title" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Start Date*</label>
                            <input type="date" id="startDate" name="startDate" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>End Date*</label>
                            <input type="date" id="EndDate" name="endDate" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <input type="text" id="location" name="location" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea id="description" name="description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>URL</label>
                            <input type="text" id="url" name="url" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="active" name="active" /> <label>Hide Event</label>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn" onclick="window.location.reload()">Cancel</button>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div>
            <h1>
                Events Administration            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add Event</button>
            </h1> <!-- Trigger the modal with a button -->
        </div>
        <form method="get">
            <input type="text" name="search" id="search" value="search" hidden />
            <div class="form-group">
                <label>Event Title Contains:</label>
                <input class="form-control" type="text" name="searchTitle" id="searchTitle" />
            </div>
            <div class="form-group">
                <label>Start Date After</label>
                <input class="form-control" type="date" name="searchDateAfter" id="searchDateAfter" />
            </div>
            <div class="form-group">
                <label>Start Date Before</label>
                <input class="form-control" type="date" name="searchDateBefore" id="searchDateBefore" />
            </div>
            <div>
                <button class="btn btn-info">Search Events</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Event Title</th>
                        <th>Event Start Date</th>
                        <th>Event Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var x in Model)
                    {
                        // Create the list of these clients
                        <tr>
                            <td>@x.SeTitle</td>
                            <td>@x.SeStartDate.ToShortDateString()</td>
                            <td>@x.SeDescription</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = x.SeId })
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function clear() {
        alert(1);
    }
</script>

