@{
    ViewBag.Title = "Events Administration";
}
@model IEnumerable<Netkinetix.Models.SiteEvent>
<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Event</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add/Edit Event</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Event Title*</label>
                            <input type="text" id="title" name="title" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Start Date*</label>
                            <input type="date" id="startDate" name="startDate" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>End Date</label>
                            <input type="date" id="EndDate" name="endDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <input type="text" id="location" name="location" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea id="description" name="description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>URL</label>
                            <input type="text" id="url" name="url" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="active" name="active" /> <label>Hide Event</label>
                        </div>

                        <div class="modal-footer">
                            <button type="button" onclick="window.location.reload()">Cancel</button>
                            <button type="submit" class="btn btn-info btn-lg">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div>
        Events Administration
        <form method="get" >
            <input type="text" name="search" id="search" value="search" hidden />
        <div>
            <label>Event Title Contains:</label>
            <input type="text" name="searchTitle" id="searchTitle" />
        </div>
        <div>
            <label>Start Date After</label>
            <input type="date" name="searchDateAfter" id="searchDateAfter"/>
        </div>
        <div>
            <label>Start Date Before</label>
            <input type="date" name="searchDateBefore" id="searchDateBefore" />
        </div>
            <div>
                <button>Search Events</button>
            </div>
            </form>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>Event Title <input  type="text"/></tr>
                <tr>Event Start Date</tr>
                <tr>Event Description</tr>
                <tr>Action</tr>
            </thead>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var x in Model)
                {
                    // Create the list of these clients
                    <tr>
                        <td>@x.SeTitle</td>
                        <td>@x.SeStartDate</td>
                        <td>@x.SeDescription</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id =x.SeId})
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    function clear() {
        alert(1);
    }
</script>

